*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top:110px;
    padding-left: 230px;
    padding-right: 260px;
    
    
}
.title{
    width: 300px;
  
}
header h1{
    font-family: PT Serif;
    font-size: 36px;
    font-weight: 700;
}
.info{
    width: 350px;
}
.info h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.info p{
    font-family: Poppins;
    font-size: 18px;
}


/* start gallary */
.gallary{
    margin-top: 100px;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.photo{
    width: 350px;
    height: 450px;
    position: relative;
    margin-bottom: 40px;
}
.photo_2 img{
    margin-top: 80px;
}
.photo img{

    width: 250px;

}
.photo h4{
    margin-top: 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}


.photo .para{
    position: absolute;
    top: 100px;
    right: 80px;
    transform: rotate(90deg);
    transform-origin: top right;
 
}
.photo_2 .para{
    top: 180px;

}
.para p{
    font-family: PT Serif;
    font-size: 12px;
    text-transform: uppercase;
}


/* footer start */
footer{
    padding-top: 120px;
    padding-bottom: 30px;
}

footer p{
    color: #A9A9A9;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
}


 /* mobile responsive */
 @media screen and (max-width: 576px){

    header{
        flex-direction: column;
        padding-left: 15px;
        padding-top: 70px;
    }
    .title{
        padding-bottom: 38px;
    }
    .info > h2{
        padding-bottom: 10px;
    }
    .gallary{
        padding: 0;
        
    }

    .photo{
        width: 200px;
        height: 300px;
        
    }
    .photo img{
        width: 140px;
    }
 }



